/** General **/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body{
    width:100%;
    height: 100%;
    margin: 0;
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header {
    width: 100%;
    max-width: 1440px;
}

.main-container {
    width: 100%;
    height: 100%;
    padding: 0px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer{
    width: 100%;
    max-width: 1340px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.section-title {
    margin: 0;
    font-size: 22px;
    display: flex;
    align-items: flex-start;
}

.subtitle {
    margin: 0;
    font-size: 19px;
}
.bold-subtitle {
    margin: 0;
    text-align:left;
    font-size: 18px;
    font-weight : bold;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    margin: 0;
    font-size: 16px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-subtitle{
    margin: 0;
    display: flex;
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

#more-results:hover{
    cursor: pointer;
}

/*  Header  */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px 50px;
}

.logo-container{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 161.09px;
    height: 79px;  
}

.logo-container a{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.logo-container img{
    width: 61.09px;
    height: 19px;
  
}

.logo-container img:active{
    width: 55px;
    height: 15px; 
}

.navbar{
    width: 344px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar nav{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    padding :0px 0px 0px 50px;
    gap: 68px;   
}

.nav-buttons {  
    border:none;
    background-color: white;
    Height:35px;
    border-top: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nav-buttons:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}


  /*  Search   */

.headline  {
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.search-infos{
    max-width: 100%;
    margin: 0px 0px 35px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 35px;
}

.search-infos div {
    margin: 0;
}

.search-bar{
    width: 50%;
    max-height: 49px;
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-self: flex-start ;
    flex-direction: row;
    border-radius : 20px;   
}

#search-logo{
    width: 50px;
    height: 49px;
    border: 1px solid;
    border-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-bg-color);
    border: 1px solid;
    border-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 100%;
    height: 51px;
    border: none;
    border-top: 1px solid var(--main-bg-color);
    border-right: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-left: 1px solid var(--main-bg-color);  

}
.search-input {
    display:flex ;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    
}
    

.search-input input {
    height: 49px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: none;      
}

#search::placeholder {
   color: black;
}

#manifying-glass, .submit-button-mobile  {
    display: none;
}


.submit-button{
    width: 132px ;
    height: 51px;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid;
    border-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    background-color: var(--main-color) ;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.submit-button:active{
    color: #093f8f;
}




  /*   Filters  */

.filters-bar{
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center; 
    gap: 15px;
}

#filters-title{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:start;
    flex-direction: row;
}

.filters-list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    flex-wrap: nowrap;
    gap: 15px;
}

.filters-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.filters-button {
    height: 40px;
    padding: 4px 15px;
    border: 2px solid;
    border-color: #D9D9D9;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor:default;
    gap: 10px;
}

.filters-button label {
    cursor: pointer;
}

.filters-button i{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    gap: 10px;
}

.filters-button:hover {
    background-color: var(--filter-bg-color);
}

.filters-button:active{
    color: #0065fc7e;
}

.informations {
    height:24px;
    margin:0;
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    align-items:center; 
    flex-wrap: nowrap;
}

.info-subtitle{
    margin-left: 10px;
    font-size: 16px;
}

.info-logo{
    width: 24px;
    height: 24px;
    margin: auto;
    border:1px solid;
    border-radius:12px;
    border-color:#D9D9D9;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items:center;
}



/*  Hebergements And Populaires  */
.hebergements-and-populaires {
    width: 100%;
    max-width: 1440px;
    margin:0;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/* Hebergements */
.hebergements {
    width: 75%;
    margin:0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
}

.hebergements-frame {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items:center;
    gap: 30px;   
}

.hebergements-cards a{
    width: 30%
}


.hebergements-cards {
    width: auto;
    margin:0;
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    gap: 30px;
}

.hebergements-cards .card-content {
    width: 100%;
    max-height:65px;
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 8px;
    padding: 4px 5px 0px 10px;
}

.hebergements-cards img{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
}


.hebergements-cards .card-title{
    margin-bottom: 8px;
}




/* Populaires */
.populaires {
    width: 25%;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}

.populaires .section-title-container{
    justify-content: space-between;
    align-items: center; 
}

.populaires-cards .card {
    height: 146px;
    margin-top: 30px;
    display: flex;  
    
}

.populaires-cards img {
    width: 33%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display:flex;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.populaires-cards .card-title {
    margin: 10px 0px 5px 0px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}


.populaires-cards .card-rating {
    text-align: left;
    margin-bottom: 5px;
    display: flex;
}


/* Activités */

.activites{
    max-height: 600px;
    margin: 35px 0px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction :column;
    align-items: flex-start;
    gap: 30px;
    
}

.activites-frame{
    max-width: 1280px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activites-frame a{
    width: 25%;
    height: 100%;
    display: flex;  
}

.activites-frame .card{
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.activites-frame .card img{
    width: 100%;
    height: 380px;
    margin:0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activites-frame .card-txt{
    padding: 20px 0px 20px 19px;
    font-size: 16px;
    text-align: left;
}



/** FOOTER **/

.footer-container{
    width: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: flex-start;
}

.footer-part{
    width: 100%;
    max-width: 1440px;
    padding: 20px;
}

.footer-container ul{
    padding:0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.liens-footer {
    font-size: 16px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .hebergements-and-populaires {
        height: auto;
        flex-direction: column;
        width: 100%;  
    }

    .hebergements{
        width: 100%;
        max-width: 924px;      
    }

    .hebergements-frame {
        width: 100%;
        max-width: 810px;
    }

    .hebergements-frame a{
        width: 30%;}

    .hebergements-frame .card{
        width: 100%;
    }

    .populaires{
        width: 100%;
    }

    

    .populaires-cards{
        width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .populaires-cards a{
        width: 34%;
    }

  
    .populaires-cards  .card-title {
        width: 100%;
        font-size: 16px;
        text-overflow: ellipsis;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
        text-overflow: ellipsis;
       
    }

    .activites {
        height: 390px;
    }

    .activites-frame {
        height: 270px;
    }
    
    .activites-frame .card {
        height: 270px;
    }
    .activites-frame .card img  {
        height: 85%;
    }

    #fort-pomegues{
        height: 192px;
    }

    .activites-frame .card-txt{
        height: 15%;
        display: flex;
        align-items: center;
    }

    .footer-container {
        gap: 35px;
    }
 
}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    main{
        width: 100%;
        max-width: 768px;
        }

    .main-container{
        padding: 0px;
    }

   .subtitle{
        font-size: 16px;
    }

    
    /**Small devices HEADER **/

    .header {
        width: 100%;
        height: 100%;
        max-height: 147px;
        margin-bottom: 30px;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }

    .logo-container {
        align-items: center;
        justify-content: center;
    }
    .logo-container img {
        padding:0;

    }

    .navbar{
        width: 100%;
        max-width: 768px;
        margin: 0;
    }

    .navbar nav{
        width: 100%;
        gap: 0px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
        
    
    .navbar nav a {
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .nav-buttons {
        width: 100%;
        max-width: 375px;
        height: 36px; 
        border-top: none; 
        align-items: flex-start;
        justify-content: center;
        border-bottom: 1px solid transparent; 
    }

    .nav-buttons:hover {
        border-bottom-color: var(--main-color);
    }
    


    /*Small devices SEARCH */
    .search-infos{
        max-width: 90%;
        padding: 0px 20px;
       
    }  

    .search-bar{
        width: 100%;
        max-width: 335px;
        justify-content: space-between;
        border: 1px solid;
        border-color: var(--main-bg-color);
    }

    #search{
        border: 1px solid;
        border-color: var(--main-bg-color) transparent var(--main-bg-color) var(--main-bg-color);  
        }

    ::placeholder {
        display: flex;
    }

    .search-submit{
        display:flex;
        justify-content: flex-end;
        box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
      
    }

    .submit-button{
        display:none;
    }
    
    .submit-button-mobile{
        height: 51px;
        width:49px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color) ;
        border: none;
        border-radius: 15px;
        cursor:pointer;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    #manifying-glass {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .submit-button-mobile:active{
        background-color: #1356b9;
    }
    
    .filters-bar {
        max-width: 768px;
        max-height: 161px;
        flex-direction:column;
        justify-content: start ;
        align-items: flex-start;
        gap: 20px;
    }

    .filters-bar .bold-subtitle {
        margin:0;
        padding: 0;
    }

    .filters-list {
        flex-wrap: wrap;
    }

    .filters-frame{
        width: 97%;
        justify-content: center;
    }

    .filters-button {
        width: 50%;
        padding: 4px 12px;
        font-size: 16px;
        flex-direction: row;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    


    /*Small devices HEBERGEMENTS AND POPULAIRES */
    
    .hebergements-and-populaires section {
        border-radius: 0%;
        padding: 30px 20px;
        align-items: center;
        gap: 15px;    
    }
    
    .populaires {
        height: 100%;
        width: 100%;  
        border-radius: 0%;
        background-color: var(--main-bg-color); 
        gap: 15px;
      }

    .populaires-title {
        width: 100%;
    }
    
    .populaires article.card {
        margin-top: 0px;
    }

    .populaires-cards {
        gap: 15px;
    }
    .populaires-cards a {
        width: 100%;
        height: 100%; 
    }
    .populaires-cards{
        width: 100%;  
        flex-direction: column;
        flex-basis: auto;  
      
    }


    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;   
    }

    .hebergements-and-populaires > section:first-child {
        background-color: white;
    }

    .hebergements {
        width: 100%;  
    }

    #hebergements.hebergements {
        padding: 20px;
    }

    .hebergements-title{
        display: flex;
        justify-content: flex-start;
    }

    .hebergements .bold-subtitle{
        width: 100%;
    }


    .hebergements-frame{
        flex-direction: column;
        width: 98%;  
    }

    .hebergements-frame a {
        width: 100%;
    }

    .hebergements-cards{ 
        width: 100%;
    }

    .hebergements-cards img{
        width:100%;
        height: 150px;
    }

    /* Small devices ACTIVITES */
    .activites {
        align-items: center;
        margin: 25px 0px 0px 0px;
        max-height: 100%;
        width: 100%;
        height: 1000px;
        padding: 30px;
        gap: 30px; 
    }



    .activites-frame {
        width: 100%;
        height : 1200px;
        flex-direction: column;
        align-items: center;
        gap:15px;
    }

    .activites-frame a {
        width: 100%;
        height: 200px;
        
        
    }

    .activites-frame .card{
        width:100%;
        height: 100%;
    }

    .activites-frame .card img {
        width: 100%;
        height: 141px;  
    }
    #fort-pomegues{
        height: 141px;
    }

    .activites-frame .card-txt{
        height: 19px;
        padding: 20px 19px;
    }

  
    /* Small devices FOOTER  */
    
    footer{
        width: 100%;
        padding: 0px;
        height: auto;
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .footer-container{
        padding: 30px 35px 0px 35px;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 50px;
    }

    .footer-part{
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
}
   